html {
  background-color: #f9f9f9;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

nav {
  display: flex;
  align-items: center;
  background-color: #111111;
  justify-content: space-between;
  padding: 10px 50px;
  max-width: 1440px;
}

nav a.active {
  color: rgb(59 212 255);
}

nav .links {
  width: 320px;
  display: flex;
  justify-content: space-between;
}

nav a {
  color: #f9f9f9;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 2px;
  padding: 20px;
}

.imagebg {
  background-image: url('./static/images/bg-rift.png');
  background-size: cover;
}

.golden {
  color: #af965f;
}